@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.container {
    margin-top: 50px;

}

.paper {
    background: #fff;
    box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
       /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
      /* Padding for demo purposes */
      padding: 30px;
  }

  input {
      border : 0;
  }


  body {
    --stripe: #cfd8dc;
    --bg: #e1e1e1;
  
    background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
      linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
      linear-gradient(315deg, var(--bg) 25%, transparent 25%),
      linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: var(--stripe);
  }

  span {
	background: rgb(94, 204, 238);
	height: 35px;
	width: 0;
	margin-right: 10px;
	margin-left: -10px;
	text-align: center;
	display: inline-block;
	color: white;
	opacity: 0;
	transition: 0.2s linear;
}

li:hover span {
	opacity: 1;
	width: 40px;
}

li {
    color: black;
}

.borrar {
  color: red;
  font-size: 30px;
  margin-left: 30px;
}